@font-face {
  font-family: "philosopherregular";
  src: url("../fonts/Philosopher-Regular-webfont.eot");
  src: url("../fonts/Philosopher-Regular-webfont.woff") format("woff"), url("../fonts/Philosopher-Regular-webfont.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "philosopheritalic";
  src: url("../fonts/Philosopher-Italic-webfont.eot");
  src: url("../fonts/Philosopher-Italic-webfont.woff") format("woff"), url("../fonts/Philosopher-Italic-webfont.ttf") format("ttf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "philosopherbold_italic";
  src: url("../fonts/Philosopher-BoldItalic-webfont.eot");
  src: url("../fonts/Philosopher-BoldItalic-webfont.woff") format("woff"), url("../fonts/Philosopher-BoldItalic-webfont.ttf") format("ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "philosopherbold";
  src: url("../fonts/Philosopher-Bold-webfont.eot");
  src: url("../fonts/Philosopher-Bold-webfont.woff") format("woff"), url("../fonts/Philosopher-Bold-webfont.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}
/* line 38, ../sass/style.scss */
body {
  font-family: 'Alegreya Sans', Arial, Helvetica, sans-serif;
}

/* line 42, ../sass/style.scss */
.header {
  min-height: 100px;
  background-color: #cefff1;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 52, ../sass/style.scss */
.logo {
  width: 100px;
  height: 122px;
  border: 3px #a4eff7 solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 59, ../sass/style.scss */
.navbar {
  width: 100%;
  background-image: url(img/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "philosopherbold", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
}
/* line 68, ../sass/style.scss */
.navbar .navbar-brand {
  text-shadow: white 0 0 20px;
  color: #00423f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/* line 75, ../sass/style.scss */
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  background: white;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.7621848056) 10%, rgba(21, 209, 213, 0.1681139008) 92%);
  border-radius: 10px;
}
/* line 81, ../sass/style.scss */
.navbar .navbar-brand:active {
  border: 1px solid #15d1d5;
  border-radius: 10px;
}
/* line 86, ../sass/style.scss */
.navbar .navbar-collapse {
  text-align: center;
}
/* line 89, ../sass/style.scss */
.navbar .navbar-collapse .navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}
/* line 94, ../sass/style.scss */
.navbar .navbar-collapse .mr-auto {
  margin-right: 0 !important;
}
/* line 98, ../sass/style.scss */
.navbar .navbar-collapse .nav-link {
  font-size: 20px;
  color: #00423f;
}
/* line 102, ../sass/style.scss */
.navbar .navbar-collapse .nav-link:hover,
.navbar .navbar-collapse .nav-link:focus {
  color: #fff;
  background-color: #15b7b9;
  border-radius: 10px;
}
/* line 108, ../sass/style.scss */
.navbar .navbar-collapse .nav-link:active {
  color: #00423f;
  background: none;
}
/* line 113, ../sass/style.scss */
.navbar .navbar-collapse .dropdown-toggle {
  font-size: 20px;
}
/* line 117, ../sass/style.scss */
.navbar .navbar-collapse .dropdown-menu {
  right: 0;
  margin: .125rem 30px 0;
  top: 120%;
  left: auto;
  z-index: 10;
}

/* line 130, ../sass/style.scss */
.content {
  padding: 50px 0;
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/* line 137, ../sass/style.scss */
.content .about_images {
  width: 100%;
  padding-left: 50px;
}
/* line 141, ../sass/style.scss */
.content .about_images .carousel {
  width: 100%;
}
/* line 144, ../sass/style.scss */
.content .about_images .carousel .carousel-item {
  width: 90vw;
  height: 500px;
}
/* line 148, ../sass/style.scss */
.content .about_images .carousel .carousel-item .d-block {
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
}
/* line 156, ../sass/style.scss */
.content_item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}
/* line 161, ../sass/style.scss */
.content .display-4 {
  font-family: "philosopherbold_italic", Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}
/* line 169, ../sass/style.scss */
.content .jumbotron {
  background-color: #fff;
  width: 100%;
  padding-left: 20px;
  margin: 0;
}
/* line 176, ../sass/style.scss */
.content .lead {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 2.5;
}
/* line 182, ../sass/style.scss */
.content .gradient-text {
  background: -webkit-gradient(linear, left top, right bottom, from(#F2FDFF), color-stop(#FFF), to(#E6F9FC));
  background: linear-gradient(to bottom right, #F2FDFF, #FFF, #E6F9FC);
  border-radius: 5px;
}

/* line 188, ../sass/style.scss */
.button-up {
  margin: auto;
  font-size: 18px;
  font-weight: bold;
  color: #00423f;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 196, ../sass/style.scss */
.button-up:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #a4eff7;
  background-color: #00423f;
  border-radius: 5px;
  text-decoration: none;
}

/* line 204, ../sass/style.scss */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 200px;
  width: 100%;
  max-width: 1280px;
  background-color: #15b7b9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 2% 0 1%;
  font-family: "philosopherbold", Arial, Helvetica, sans-serif;
}

/* line 217, ../sass/style.scss */
.footer-heading {
  font-weight: bold;
}

/* line 221, ../sass/style.scss */
.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  width: 95%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5%;
}

/* line 230, ../sass/style.scss */
.footer-list {
  margin: 0 10px;
  line-height: 3em;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 236, ../sass/style.scss */
.footer-list:hover,
.footer-list:focus {
  background-color: #cefff1;
  border-radius: 5px;
}

/* line 242, ../sass/style.scss */
.footer-link,
.footer-link:hover,
.footer-link:focus {
  color: #00423f;
}

/* line 248, ../sass/style.scss */
hr {
  border-top: 1px dotted #00423f;
  height: 1px;
  width: 100%;
  margin: 0;
}

/* line 255, ../sass/style.scss */
.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/* line 262, ../sass/style.scss */
.footer-bottom .contacts-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding: 1% 10%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  list-style-type: none;
  color: #FFFFFF;
}
/* line 276, ../sass/style.scss */
.footer-bottom .copyright {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.4;
}

@media (max-width: 750px) {
  /* line 288, ../sass/style.scss */
  .content {
    padding-top: 0;
  }
  /* line 291, ../sass/style.scss */
  .content .about_images {
    display: none;
  }
  /* line 295, ../sass/style.scss */
  .content .jumbotron {
    padding: 5% 0 0 0;
  }
}
@media (max-width: 640px) {
  /* line 303, ../sass/style.scss */
  .navbar {
    background-size: auto;
  }

  /* line 307, ../sass/style.scss */
  .contacts-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 16px;
    line-height: 19px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */