@font-face {
    font-family: "philosopherregular";
    src: url('../fonts/Philosopher-Regular-webfont.eot');
    src: url('../fonts/Philosopher-Regular-webfont.woff') format('woff'),
         url('../fonts/Philosopher-Regular-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "philosopheritalic";
    src: url('../fonts/Philosopher-Italic-webfont.eot');
    src: url('../fonts/Philosopher-Italic-webfont.woff') format('woff'),
         url('../fonts/Philosopher-Italic-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "philosopherbold_italic";
    src: url('../fonts/Philosopher-BoldItalic-webfont.eot');
    src: url('../fonts/Philosopher-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/Philosopher-BoldItalic-webfont.ttf') format('ttf');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "philosopherbold";
    src: url('../fonts/Philosopher-Bold-webfont.eot');
    src: url('../fonts/Philosopher-Bold-webfont.woff') format('woff'),
         url('../fonts/Philosopher-Bold-webfont.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}

$width-site: 100%;
$border-width: 3px;
$color-block: #cefff1;

body {
    font-family: 'Alegreya Sans', Arial, Helvetica, sans-serif;
}

.header {
    min-height: 100px;
    background-color: $color-block;
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    display: flex;
    box-sizing: border-box;
}

.logo {
    width: 100px;
    height: 122px;
    border: 3px #a4eff7 solid;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    background-image: url(img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "philosopherbold", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;

    .navbar-brand {
        text-shadow: rgba(255, 255, 255, 1) 0 0 20px;
        color: #00423f;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }
    .navbar-brand:hover,
    .navbar-brand:focus {
        background: rgb(255,255,255);
        background: radial-gradient(circle, rgba(255,255,255,0.7621848055628502) 10%, rgba(21,209,213,0.16811390083377098) 92%);
        border-radius: 10px; 
    }
    .navbar-brand:active {
        border: 1px solid #15d1d5;
        border-radius: 10px;
    }

    .navbar-collapse {
        text-align: center;

        .navbar-nav {
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
        }
        .mr-auto {
            margin-right: 0 !important;
        }

        .nav-link {
            font-size: 20px;
            color: #00423f;
        }
        .nav-link:hover,
        .nav-link:focus {
            color: #fff;
            background-color: #15b7b9;
            border-radius: 10px;
        }
        .nav-link:active {
            color: #00423f;
            background: none;
        }
    
        .dropdown-toggle {
        font-size: 20px;
        }

        .navbar-nav .dropdown-menu {
            position: absolute;
            right: 0;
            top: 120%;
            left: auto;
            margin: .125rem 30px 0;
            z-index: 10;
            max-width: 300px;
            text-align: center;
            padding: 0;
            width: 300px;
        }
        .dropdown-item {
            padding: 2%;
        }
    }
    
    
}


.content {
    padding: 50px 0;
    margin: 0 auto;
    width: $width-site;
    display: flex;
    flex-wrap: wrap;

    .about_images {
        width: 100%;
        padding-left: 50px;
    
        .carousel {
            width: 100%;
    
            .carousel-item {
                width: 90vw;
                height: 500px;

                .d-block {
                    object-fit: cover;
                    margin: 0 auto;
                }
            }
        }
    }

    &_item {
        box-sizing: border-box;
        width: 100%;
    }

    .display-4 {
        font-family: "philosopherbold_italic", Arial, Helvetica, sans-serif;
        font-size: 2.5rem;
        font-style: italic;
        font-weight: bold;
        text-align: center;
    }

    .jumbotron {
        background-color: #fff;
        width: 100%;
        padding-left: 20px;
        margin: 0;
    }

    .lead {
        font-family: 'Alegreya Sans', sans-serif;
        font-weight: 400;
        font-size: 1.5em;
        line-height: 2.5;
    }
    .gradient-text {
        background: linear-gradient(to bottom right, #F2FDFF, #FFF, #E6F9FC);
        border-radius: 5px;
    }
}

.button-up {
    margin: auto;
    font-size: 1.125rem;
    font-weight: bold;
    color: #00423f;
    padding: 5px;
    box-sizing: border-box;
}
.button-up:hover {
    transform: scale(1.2);
    color: #a4eff7;
    background-color: #00423f;
    border-radius: 5px;
    text-decoration: none;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 200px;
    width: $width-site;
    max-width: 1280px;
    background-color: #15b7b9;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 2% 0 1%;
    font-family: "philosopherbold", Arial, Helvetica, sans-serif;
}
.footer-heading {
    font-weight: bold;
}

.footer-top {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    width: 95%;
    justify-content: center;
    padding: 1.5%;
}

.footer-list {
    margin: 0 10px;
    line-height: 3em;
    padding: 5px;
    box-sizing: border-box;
}
.footer-list:hover,
.footer-list:focus {
    background-color: #cefff1;
    border-radius: 5px;
}

.footer-link,
.footer-link:hover,
.footer-link:focus {
    color: #00423f;
}

hr {
    border-top: 1px dotted #00423f;
    height: 1px;
    width: 100%;
    margin: 0;
}

.footer-bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 95%;
    justify-content: center;

    .contacts-footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        padding: 1% 10%;
        flex-grow: 1;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.05em;
        list-style-type: none;
        color: #FFFFFF;
    }
    
    .copyright {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        opacity: 0.4;
    }
}



@media (max-width: 750px) {
    .content {
        padding-top: 0;
        
        .about_images {
            display: none;
        }

        .jumbotron {
            padding: 5% 0 0 0;
        }

     }
}

@media (max-width: 640px) {
    .navbar {
        background-size: auto;
    }

    .contacts-footer {
        flex-direction: column;
        font-size: 16px;
        line-height: 19px;
        align-items: center;
    }
}